.main {
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    color:white;
    max-width:100%;
}
.overview{
    background: url("../img/capeb_app_overview.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}
.api{
    background: url("../img/capeb_app_screen.png") no-repeat;
    background-size: cover;
    max-height: 100%;
}
.bande{
    height: 50px;
}

.link a i{
    font-size: 2.5em;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
}